body {
	background-image: url(../images/bg.png);
	background-color: #909090;
	font-family: Century gothic, Helvetica, sans-serif;
	padding: 0;
	font-size: 12px;
	margin: 0px auto auto auto;
	color: #000000;
}

a {
	color: #990000;
}

.clear {
	clear: both;
}

p {
	padding: 5px 9px 5px 9px;
	margin: 0px 0px 6px 0px;
	text-align: justify;
	line-height: 19px;
}

#wrap {
	width: 900px;
	height: auto;
	margin: auto;
	background-color: #FFFFFF;
}

.head_content {
	width: 900px;
	height: 338px;
	background: url(../images/header.png) no-repeat center;
}

.logo {
	padding: 0 0 0 20px;
	background: url(../images/logo.gif) no-repeat left;
}
/*-----------------------------menu-------------------*/
#menu {
	width: 880px;
	height: 54px;
	margin: 170px 0 0 20px;
	background: url(../images/menu_bg.jpg) repeat-x center;
}

#menu ul {
	display: block;
	list-style: none;
	padding: 9px 0 0 5px;
	margin: 0px;
}

#menu ul li {
	display: inline-block;;
	height: 36px;
}

#menu ul li a {
	height: 36px;
	display: block;
	padding: 0px 10px;
	margin: 0 4px;
	float: left;
	text-decoration: none;
	text-align: center;
	color: #FFFFFF;
	font-size: 15px;
	line-height: 36px;
}

#menu ul li a input {
	height: 36px;
	background-color: transparent;
	font-size: 15px;
	border: 0px;
	color: #fff;
}

#menu ul li a input:focus {
	outline: none;
}


#menu ul li a:hover {
	background: url(../images/menu_bt_bg.gif) repeat-x center;
}

/*------------------------------------center content--------------------*/
.center_content {
	width: 900px;
	height: auto;
	padding: 0;
	background: url(../images/center_bg.gif) repeat-y center;
}

.left_content {
	width: 490px;
	float: left;
	padding: 20px 0 20px 10px;
}

.right_content {
	width: 300px;
	float: left;
	padding: 20px 0 20px 20px;
}


.title {
	color: #a81f22;
	padding: 0px;
	float: left;
	font-size: 19px;
	margin: 20px 0 10px 0;
	text-align: center;
}

.prod_title {
	color: #a81f22;
	padding: 5px 0 0 15px;
	font-size: 13px;
}

.about {
	width: 337px;
	clear: both;
	background: url(../images/border.gif) no-repeat bottom center;
	padding: 0 0 20px 0;
}

ul.you_can {
	margin-bottom: 0px;
	margin-top: 0px;
	padding-left: 30px;
	padding-right: 10px;
	"
}

.right_box {
	width: 170px;
	height: 600px;
	float: left;
	padding: 10px 0 0 0;
}

/*--------feat_prod_box-----------*/
.feat_prod_box {
	padding: 10px 0;
	margin: 0 20px 20px 0;
	clear: both;
}

.med_catalogue {
	padding: 10px 0;
	margin: 0 20px 10px 0;
	clear: both;
	overflow: auto;
	width: 500px;
}

.prod_img {
	float: left;
	padding: 0 5px 0 0;
	text-align: center;
}

.prod_det_box {
	width: 290px;
	float: left;
	padding: 0 0 10px 15px;
	position: relative;
}

ul.merz {
	margin-bottom: 0px;
	margin-top: 0px;
	padding-left: 30px;
	padding-right: 10px;
	"
}

.box_top {
	width: 295px;
	height: 9px;
	background: url(../images/box_top.gif) no-repeat center bottom;
}

.box_center {
	width: 295px;
	height: auto;
	background: url(../images/box_center.gif) repeat-y center;
}

.box_bottom {
	width: 295px;
	height: 9px;
	background: url(../images/box_bottom.gif) no-repeat center top;
}

/*---------------contact_form------------------*/


.contact_form {
	width: 355px;
	float: left;
	padding: 25px;
	margin: 20px 0 0 15px;
	border: 1px #DFD1D2 dashed;
	position: relative;
}

.form_row {
	width: 360px;
	clear: both;
	padding: 10px 0;
	color: #a53d17;
}

label.contact {
	width: 75px;
	float: left;
	font-size: 12px;
	text-align: right;
	padding: 4px 5px 0 0;
	color: #333333;
}

input.contact_input {
	width: 253px;
	height: 18px;
	background-color: #fff;
	color: #999999;
	border: 1px #DFDFDF solid;
	float: left;
	margin-left: 10px;
}


input.error {
	border: solid 1px red !important;
}

.terms {
	padding: 0 0 0 80px;
}

.form_subtitle {
	position: absolute;
	top: -11px;
	left: 7px;
	width: auto;
	height: 20px;
	background-color: #990000;
	text-align: center;
	padding: 0 7px 0 7px;
	color: #FFFFFF;
	font-size: 11px;
	line-height: 20px;
}
/*-----------------------languages_box---------*/
.languages_box {
	padding: 0 0 5px 0;
	float: left;
}

.languages_box form {
	display: inline-block;
}

.languages_box a {
	padding: 0 2px 0 2px;
}

/*---------------order_form------------------*/
.order_form {
	width: 355px;
	float: left;
	padding: 25px;
	margin: 20px 0 0 15px;
	border: 1px #DFD1D2 dashed;
	position: relative;
}



label.order {
	width: 75px;
	float: left;
	font-size: 12px;
	text-align: right;
	padding: 4px 5px 0 0;
	color: #333333;
}

input.order_input {
	width: 253px;
	height: 18px;
	background-color: #fff;
	color: #999999;
	border: 1px #DFDFDF solid;
	float: left;
}

input.register {
	width: 98px;;
	height: 25px;
	border: none;
	cursor: pointer;
	text-align: center;
	float: inherit;
	color: #FFFFFF;
	background: url(../images/register_bt.gif) no-repeat center;
	font-family: Century gothic, Helvetica, sans-serif;
}

#menusubmit {
	width: 98px;;
	height: 25px;
	border: none;
	cursor: pointer;
	text-align: center;
	float: right;
	color: #FFFFFF;
	background: url(../images/register_bt.gif) no-repeat center;
	font-family: Century gothic, Helvetica, sans-serif;
}


.form_subtitle {
	position: absolute;
	top: -11px;
	left: 7px;
	width: auto;
	height: 20px;
	background-color: #990000;
	text-align: center;
	padding: 0 7px;
	color: #FFFFFF;
	font-size: 11px;
	line-height: 20px;
}

.cart_table {
	width: 440px;
	border: 1px #CCCCCC solid;
	text-align: center;
	font-size: 11px;
}
.num_table {
	margin: auto;
}

tr.cart_title {
	background-color: #DFDFDF;
}

td {
	padding: 3px;
}




/*---------------footer------------------------*/
.footer {
	height: 81px;
	border-top: 1px #b2b2b2 dashed;
	background: url(../images/footer_bg.gif) no-repeat bottom;
	clear: both;
}

.left_footer {
	float: left;
	padding: 10px 0 0 10px;
	background: url(../images/footer_logo.gif) no-repeat bottom;
}

.right_footer {
	float: right;
	padding: 10px 10px 0 0;
}

.footer a {
	text-decoration: none;
	padding: 0 5px 0 5px;
	color: #afaeaf;
}

